/* Line-Height */
h1 {
    line-height: 2;
}

h2 {
    line-height: 2;
}

h3 {
    line-height: 2;
}

main {
    line-height: 7px;
}

footer {
    line-height: 3;
}
/* Spacing Letters */

h1 {
    letter-spacing: 2px;
}

h2 {
    letter-spacing: 3px;
  }

  h3{
    letter-spacing: 2px;
  }

/* Text Transform */
h1 {
    text-transform: capitalize;
  }

h3 {
    text-transform: uppercase;
  }

footer {
    text-transform: uppercase;
}
/* Text Decoration */
h2 {
    text-decoration: underline;
} 

h3 {
    text-decoration: underline;
}
/* Text Alignment */
h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

footer {
    text-align: end;
}